apiVersion: split.smi-spec.io/v1alpha2
kind: TrafficSplit
metadata:
    name: voting-svc
    namespace: emojivoto
    annotations:
        failover.linkerd.io/primary-service: voting-svc
    labels:
        failover.linkerd.io/controlled-by: linkerd-failover
spec:
    service: voting-svc
    backends:
        - service: voting-svc
          weight: 1
        - service: voting-svc-west
          weight: 0
